.project-panel {
  width: 100%;
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--accent);
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
}

.project-image-link {
  width: 100%;
  display: block;
}

.project-image-link > img {
  width: 100%;
  object-fit: fill;
  border-radius: 10px 10px 0px 0px;
  transition:
    filter 0.3s ease,
    box-shadow 0.3s ease;
}

.project-image-link > img:hover {
  filter: brightness(1.15);
  box-shadow: 0 0 60px var(--accent);
}

.project-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project-button {
  width: 100%;
  color: var(--accent);
  background-color: var(--surface-lighter);
  border: 0px solid var(--accent);
  box-shadow: 0 0 10px var(--border);
  border-radius: 10px;

  padding: 32px 12px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.project-button:hover {
  box-shadow: 0 0 15px var(--accent);
}

.project-panel > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  transition: width 0.3s ease;
}

.award {
  font-size: 40px;
}
.award-block {
  font-weight: 600;
}

h2 {
  margin: 2px;
}
