.three-logo {
  position: sticky;
  top: 0;
  width: 100%;
  height: 40vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.three-logo table {
  margin: 0;
  font-family: monospace;
}

#left-panel {
  width: 50%;
  height: 100%;
  @media (max-width: 800px) {
    width: 100%;
    height: 30%;
  }
}
